html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#echartsContainer1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    background: #202538;
    border-bottom: 1px solid #444444;
}

#echartsContainer2 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    background: #202538;
    border-bottom: 1px solid #444444;
}

#echartsContainer3 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    background: #202538;
}

